*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;

}
.house{
    background: #005;
    margin: 100px;
    border-radius: 20px;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    color: rgba(31, 187, 17, 1);
    margin: 20px;
}
button{
    background: rgba(44, 142, 42, 1);
    padding: 14px 120px;
    border-radius: 15px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin: 20px;
}