*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background: url(../assets/unsplash_FHnnjk1Yj7Y.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Work Sans";
}
.house{
    display: flex;
    justify-content: end;
    margin: 100px 100px 0 0;
}
.container{
    padding: 80px 30px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img{
    width: 50px;
    margin: 10px;
}
.container h4{
 color: rgba(252, 245, 232, 1);
 margin: 10px;
 font-weight: 400;
 text-transform: capitalize;
}
.container p{
   color: rgba(214, 214, 214, 1);
   font-size: 12px;
   width: 65%;
   margin: 10px;
   text-align: center;
}
input{
    background: rgba(0, 0, 0, 0.9);
    padding: 15px 150px 15px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
input::placeholder{
    color: #D6D6D6;
}
.button{
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 15px 120px;
    background:rgba(55, 178, 52, 1);
    color: rgba(244, 223, 182, 1);
    cursor: pointer;
}

/* ----------hover effects on the button---------- -*/
/* button:hover{
    background-color: gainsboro;
    color: #000;
    cursor:pointer;
} transiion*/